<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="/styles/layout.css">
</head>

<body>
    <div class="container">
        <header class="header">
         <a href="/">   <img class="logo" src="write.png"height="60px" width="60px"></a>
            <div class="header_items">
                <p>About us</p>
                <a href="https://www.instagram.com/mannan_k2005/" > 
                    <img class="logo" src="social.png"  height="40px" width="40px"> </a>
                <img class="logo" src="linkedin.png" height="40px" width="40px" >
            </div>
        </header>
        
    </div>
</body>